[Unit]
Description=LibreScoot Power Management Service
After=redis.service
After=librescoot-vehicle.service
Requires=redis.service

[Service]
Type=simple
ExecStart=/usr/bin/pm-service -default-state run
Restart=on-failure
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
