[Unit]
Description=Librescoot Power Management Service
After=redis.service
Wants=redis.service

[Service]
Type=simple
ExecStart=/usr/bin/librescoot-pm -dry-run
Restart=on-failure
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
